header
{
    background-color: $color-up;
    display: flex;
    justify-content: space-between;
    padding: 2%;
        #fylo-logo
        {
            width: 50%;
            border: 4px solid rgb(132, 0, 255);
        }
        nav{
            border: 4px solid rgb(132, 0, 255);
            width: 50%;
            flex-direction: row;
            justify-content: space-between;
                a{
                border: 4px solid rgb(132, 0, 255);
                width: 40%;
                height: 100px;
                justify-content: space-between;
                }
        }
}