header
{
    background-color: $color-up;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2%;
        #fylo-logo
        {
            width: 50vw;
            img{width: 20vw;}
        }
        nav{
            display:flex;
            width: 50vw;
            flex-direction: row;
            justify-content: flex-end;
            a{
                display:flex;
                justify-content: center; 
                align-items: center;
                padding-right: 15px;
                padding-left: 15px;
                text-decoration:none;
                }
            }
          
}