main
{
    display: flex;
    flex-direction: column;
    justify-content: center;

    .central{
        background-color: $color-central;
        @include center-all;
        } 

    @import 'main/main-inicio';            
    @import 'main/main-dos';
    @import 'main/main-tres';
    @import 'main/main-cuatro';   
    @import 'main/newsletter';
}

a.started-link{@include styleButton;}
    