main
{
    display: flex;
    flex-direction: column;
    justify-content: center;

        .inicio{
            background-color: $color-up;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .intro{@include center-all;} 
            }    
                 
        .central{
            background-color: $color-central;
            @include center-all;
            } 

        .dos{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            article{@include center-all;}
        }
        .tres{
            display: flex;
            flex-direction: row;
            div{
                display: flex;
                justify-content: flex-start; 
                align-items: center;
            }
            .right{
                display: flex;
                flex-direction: column;
                justify-content: flex-start; 
                align-items: flex-start;
                label
                    {
                    display: flex;  
                    #arrow{padding-left: 10px;                           }
                    }
        .cuatro{
            display: flex;
            flex-direction: row;
            justify-content: flex-start; 
            .articulos{
  
            }
        }



}