@mixin center-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

@mixin styleButton{
    background: linear-gradient(right, #51C8D6,#3DAED0);
    height: 50px;
    width: 70%;
    border-radius: 50px;
    text-decoration:none;
    margin-top: 10px;
}
