@mixin center-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

@mixin styleButton{
    background: linear-gradient(to right, #61cbd6,#167c9b);
    height: 50px;
    width: 300px;
    border-radius: 50px;
    text-decoration:none;
    margin-top: 10px;
}
