$color-up: #1c2230;
$color-down: #0c1524;
$color-font: white;

*{
    color: $color-font; 
    margin: 0 auto;
}

header,main,footer{
    border: 4px solid rgb(132, 0, 255);
}



main
{
    display: flex;
    flex-direction: column;
        .inicio{
            background-color: $color-up;
            display: flex;
            flex-direction: column;
            justify-items: center;
        }

        .central{
            background-color: #1c2230;
            color: $color-font;
        }

        

}





