@import 'variables';
@import 'mixins';
@import 'header';
@import 'main';
@import 'footer';
@import 'attributes';
*{
    color: $color-font; 
    box-sizing: border-box;
}

body
{
    padding: 0;
    margin: 0;
}

header,main,footer{
    border: 4px solid rgb(132, 0, 255);
}



/* medium */
@media screen and (min-width: 768px) {
    
    //declaracion de todo lo que cambia
}
/* desktop */
@media screen and (min-width: 1200px) {

        //declaracion de todo lo que cambia
}


